header{
    background-color: bisque;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
}

nav{
    justify-content: space-between;
    align-items: center;
}

.container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

h2{
    grid-column: 1;
    grid-row: 1;
    margin-top: 10rem;
    margin-left: 2rem;
}

#lamb{
    grid-column: 2;
    margin: 5rem 0 10rem 28rem;

}

.images{
    display: flex;
    justify-content: space-between;
    margin: 2rem;

}

iframe{
    margin: 1rem;
    padding-right: 400px;
}


footer{
    background-color: bisque;
    text-align: center;
    padding: 1rem;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin: 1rem;
}

.container2{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.contactH1{
    grid-column: 1;
    grid-row: 1;
}
